[submodule "zako_js/semver"]
	path = zako_js/semver
	url = https://github.com/moefra/semver
[submodule "zako_js/DefinitelyTyped"]
	path = zako_js/DefinitelyTyped
	url = https://github.com/moefra/DefinitelyTyped
