[submodule "zmake_js/semver"]
	path = zmake_js/semver
	url = https://github.com/moefra/semver
[submodule "zmake_js/DefinitelyTyped"]
	path = zmake_js/DefinitelyTyped
	url = https://github.com/moefra/DefinitelyTyped
