name: "Run TODO to Issue"
on: ["push"]
jobs:
    build:
        runs-on: "ubuntu-latest"
        permissions:
            contents: write
            issues: write
            pull-requests: write
        steps:
            - name: "Checkout Repository"
              uses: "actions/checkout@v4"
            - name: "TODO to Issue"
              uses: "alstr/todo-to-issue-action@v5"
              with:
                  INSERT_ISSUE_URLS: "true"
                  CLOSE_ISSUES: "true"
                  PROJECT: "organization/moefra/ZMake PLAN"
                  AUTO_ASSIGN: "true"
                  PROJECTS_SECRET: "${{ secrets.PROJECTS_SECRET }}"
                  LANGUAGES: "LANGUAGES.json"
            - name: Set Git user
              run: |
                  git config --global user.name "github-actions[bot(alstr/todo-to-issue-action@v5)]"
                  git config --global user.email "github.actions.bot@users.noreply.github.com"
            - name: Commit and Push Changes
              run: |
                  git add -A
                  if [[ `git status --porcelain` ]]; then
                    git commit -m "Automatically added GitHub issue links to TODOs"
                    git push origin master
                  else
                    echo "No changes to commit"
                  fi
